input {
  beats {
    ecs_compatibility => "v1"
    port => 5044
    ssl => true
    ssl_certificate_authorities => ["/usr/share/logstash/config/elastic-ca.pem"]
    ssl_certificate => "/usr/share/logstash/config/logstash-server.crt"
    ssl_key => "/usr/share/logstash/config/logstash-server.key"
    ssl_verify_mode => "force_peer"
  }
}

filter {
  # Fix Stack Monitoring issue: Elasticsearch version doesn't properly displayed on Stack Monitoring
  if [@metadata][index] == ".monitoring-es-8-mb" and [elasticsearch][cluster][stats][nodes][versions] {
    mutate {
      replace => {
        "[elasticsearch][version]" => "%{[elasticsearch][cluster][stats][nodes][versions]}"
      }
    }
  }
}

output {
  if [@metadata][index] =~ /^.monitoring-*/ {
    elasticsearch {
      index => "%{[@metadata][index]}"
      hosts => ["https://es-coord-01.mydomain:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      action => "create"
    }
  } else if [@metadata][beat] == "metricbeat" {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://es-coord-01.mydomain:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "metricbeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
    }
  } else if [@metadata][beat] == "winlogbeat" {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://es-coord-01.mydomain:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "winlogbeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
    }
  } else if [@metadata][beat] == "filebeat" {
    if [event][dataset] == "elasticsearch.gc" {
      elasticsearch {
        ecs_compatibility => "v1"
        hosts => ["https://es-coord-01.mydomain:9200"]
        cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
        ssl_certificate_verification => true
        api_key => "${ES_API_KEY}"
        ssl => true
        data_stream => false
        action => "create"
        index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
        pipeline => "filebeat-%{[@metadata][version]}-elasticsearch-server-pipeline-json"
      }
    } else if [event][dataset] == "elasticsearch.server" {
      elasticsearch {
        ecs_compatibility => "v1"
        hosts => ["https://es-coord-01.mydomain:9200"]
        cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
        ssl_certificate_verification => true
        api_key => "${ES_API_KEY}"
        ssl => true
        data_stream => false
        action => "create"
        index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
        pipeline => "filebeat-%{[@metadata][version]}-elasticsearch-server-pipeline-json"
      }
    } else if [event][dataset] == "elasticsearch.deprecation" {
      elasticsearch {
        ecs_compatibility => "v1"
        hosts => ["https://es-coord-01.mydomain:9200"]
        cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
        ssl_certificate_verification => true
        api_key => "${ES_API_KEY}"
        ssl => true
        data_stream => false
        action => "create"
        index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
        pipeline => "filebeat-%{[@metadata][version]}-elasticsearch-deprecation-pipeline-json"
      }
    } else if [event][dataset] == "elasticsearch.audit" {
      elasticsearch {
        ecs_compatibility => "v1"
        hosts => ["https://es-coord-01.mydomain:9200"]
        cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
        ssl_certificate_verification => true
        api_key => "${ES_API_KEY}"
        ssl => true
        data_stream => false
        action => "create"
        index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
        pipeline => "filebeat-%{[@metadata][version]}-elasticsearch-audit-pipeline-json"
      }
    } else if [event][dataset] == "elasticsearch.slowlog" {
      elasticsearch {
        ecs_compatibility => "v1"
        hosts => ["https://es-coord-01.mydomain:9200"]
        cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
        ssl_certificate_verification => true
        api_key => "${ES_API_KEY}"
        ssl => true
        data_stream => false
        action => "create"
        index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
        pipeline => "filebeat-%{[@metadata][version]}-elasticsearch-slowlog-pipeline-json"
      }
    } else {
      elasticsearch {
        ecs_compatibility => "v1"
        hosts => ["https://es-coord-01.mydomain:9200"]
        cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
        ssl_certificate_verification => true
        api_key => "${ES_API_KEY}"
        ssl => true
        data_stream => false
        action => "create"
        index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
      }
    }
  } else {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://es-coord-01.mydomain:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => true
      data_stream_type => "logs"
      data_stream_dataset => "unknown_dataset"
      data_stream_namespace => "unknown_namespace"
    }
  }
}
