input {
  beats {
    ecs_compatibility => "v1"
    port => 5044
    ssl => true
    ssl_certificate_authorities => ["/usr/share/logstash/config/elastic-ca.pem"]
    ssl_certificate => "/usr/share/logstash/config/logstash-server.crt"
    ssl_key => "/usr/share/logstash/config/logstash-server.key"
    ssl_verify_mode => "force_peer"
  }
}

output {
  if [@metadata][index] =~ /^.monitoring-*/ {
    elasticsearch {
      index => "%{[@metadata][index]}-%{+YYYY.MM.dd}"
      pipeline => "xpack_monitoring_7"
      hosts => ["https://elk-es-coord-01-pod.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
    }
  } else if [@metadata][beat] == "metricbeat" {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://elk-es-coord-01-pod.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "metricbeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
    }
  } else if [@metadata][beat] == "winlogbeat" {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://elk-es-coord-01-pod.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "winlogbeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
    }
  } else if [@metadata][beat] == "filebeat" {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://elk-es-coord-01-pod.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => false
      action => "create"
      index => "filebeat-%{[@metadata][version]}-%{[fields][organization_name]}-%{[fields][project_name]}-%{[agent][name]}"
    }
  } else {
    elasticsearch {
      ecs_compatibility => "v1"
      hosts => ["https://elk-es-coord-01-pod.elknet:9200"]
      cacert => ["/usr/share/logstash/config/elastic-ca.pem"]
      ssl_certificate_verification => true
      api_key => "${ES_API_KEY}"
      ssl => true
      data_stream => true
      data_stream_type => "logs"
      data_stream_dataset => "unknown_dataset"
      data_stream_namespace => "unknown_namespace"
    }
  }
}
