apiVersion: v1
kind: Pod
metadata:
  labels:
    app: logstash-pod
  name: logstash-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: OnFailure
  hostNetwork: true
  containers:
  - name: srv01
    image: localhost/extra2000/elastic/logstash
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: logstash_podman.process
    resources:
      requests:
        memory: 1500Mi
        cpu: 1000m
      limits:
        memory: 1500Mi
        cpu: 1000m
    env:
    - name: ES_JAVA_OPTS
      valueFrom:
        configMapKeyRef:
          name: logstash-configmap
          key: env_java_opts
    - name: ES_API_KEY
      valueFrom:
        configMapKeyRef:
          name: logstash-configmap
          key: es.api_key
    volumeMounts:
    - mountPath: /usr/share/logstash/config/logstash.yml
      name: logstash-yml
      readOnly: true
    - mountPath: /usr/share/logstash/config/pipelines.yml
      name: logstash-pipelines-yml
      readOnly: true
    - mountPath: /usr/share/logstash/pipeline
      name: logstash-pipelines-directory
      readOnly: true
    - mountPath: /usr/share/logstash/config/elastic-ca.crt
      name: logstash-ssl-ca
      readOnly: true
    - mountPath: /usr/share/logstash/config/logstash.crt
      name: logstash-ssl-crt
      readOnly: true
    - mountPath: /usr/share/logstash/config/logstash-pkcs8.key
      name: logstash-ssl-key
      readOnly: true
    - mountPath: /usr/share/logstash/data
      name: logstash-data
  volumes:
  - name: logstash-yml
    hostPath:
      path: ./configs/logstash.yml
  - name: logstash-pipelines-yml
    hostPath:
      path: ./configs/logstash-pipelines.yml
  - name: logstash-pipelines-directory
    hostPath:
      path: ./pipelines
  - name: logstash-ssl-ca
    hostPath:
      path: ./secrets/elastic-ca.crt
  - name: logstash-ssl-crt
    hostPath:
      path: ./secrets/logstash.crt
  - name: logstash-ssl-key
    hostPath:
      path: ./secrets/logstash-pkcs8.key
  - name: logstash-data
    persistentVolumeClaim:
      claimName: logstash-data
