node.name: logstash
pipeline.workers: 1
log.level: info
http.host: logstash-pod.elknet
http.port: 9600
queue.type: persisted
queue.max_events: 100
monitoring.enabled: false
monitoring.cluster_uuid: PRODUCTION_ES_CLUSTER_UUID
pipeline.ecs_compatibility: disabled
